# Database Configuration (Update these with your AWS RDS credentials)
DATABASE_URL=postgresql://postgres:Test123456@mytestpg.czmgy08swqlb.eu-north-1.rds.amazonaws.com:5432/ecommerce_reviews
# Alternative format:
# DB_HOST=mytestpg.czmgy08swqlb.eu-north-1.rds.amazonaws.com
# DB_PORT=5432
# DB_NAME=ecommerce_reviews
# DB_USER=postgres
# DB_PASSWORD=Test123456 